.header_main{
    background-color: #ffe845;
    font-family: 'Prompt', sans-serif;
    z-index: 100;
}
.header_logo{
    font-family: 'Silkscreen', system-ui;
    font-weight: bolder;
}
.dropdown_menu{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    overflow-y: scroll;
    
    background-color: #ffe845;
    height: 100vh;
}
.dropdown_menu.show{
    transform: translateX(-100%);
    animation: slideLeft .5s ease .5s forwards;
}
.dropdown_menu.close{
    animation: slideRight .5s ease .5s forwards;
}
.dropdown_btn{
    background: none;
    border: none;
    transition: all .5s ease-in-out;
}
.search{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}
.search input{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #ffe845 ;
    border: none;
}
.search input:focus{
    background-color: #ffe845 ;
    border: none;
    outline: none;
    box-shadow: none;
}
.search_btn{
    background-color: black;
    border: none;
}
.search_btn i{
    color: #ffe845;
}
.search_btn_close{
    background-color: #ffe845;

    border: none;
}



@keyframes slideRight{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(-100%);
        display: none;
    }
    100%{
        transform: translateX(0);
    }
}
