.header_main{
    background-color: #ffe845;
    font-family: 'Prompt', sans-serif;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0,0,0.44);
}

.header_logo{
    font-family: 'Silkscreen', system-ui;
    font-weight: bolder;
}


.search{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    display: none;
    transition: .5s ease;

}
.search input{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #ffe845 ;
    border: none;
}
.search input:focus{
    background-color: #ffe845 ;
    border: none;
    outline: none;
    box-shadow: none;
}
.search_btn{
    background-color: black;
    border: none;
}
.search_btn i{
    color: #ffe845;
}
.search_btn_close{
    background-color: #ffe845;

    border: none;
}

.checkSearch{
    display: none ;
    visibility: hidden;
}
.checkSearch:checked ~ .search{
    display: block;
}
.search::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 70%;
}

.btn_dropdown_performance{
    position: relative;
}
.btn_dropdown_performance:hover .dropdown_performance{
    display: block;
}
.dropdown_performance{
    position: absolute;
    top: 100%;
    width: max-content;
    background-color: #ffe845;
    box-shadow: 0 0 3px rgba(0, 0,0,0.44);
    display: none;
}
.dropdown_performance *:hover{
    background-color: black;
    color: white !important;
}

.toggle{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0,0,0.44);
    background-color:black;
    position: relative;
    z-index: 1;
}
.toggle .line{
    position: absolute;
    width: 60%;
    height: 0.2rem;
    background-color: #ffe845;
    box-shadow: 0 0 3px rgba(0, 0,0,0.22);
    transform: translate(-50%,-50%);
    border-radius: 20px;
    left: 50%;
    top: 0;
    transition: .5s ease;
}
.toggle .line_first{
    top: 30%;
}
.toggle .line_second{
    top: 50%;
}
.toggle .line_third{
    top: 70%;
}
.toggle_check:checked ~ .toggle .line_first{
    transform: rotate(45deg);
    top: 14px;
    left: 6px;
}
.toggle_check:checked ~ .toggle .line_third{
    transform: rotate(-45deg);
    top: 14px;
    left: 6px;
}
.toggle_check:checked ~ .toggle .line_second{
    opacity: 0;
}

.toggle_item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe845;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    transform: translate(-100%,0);
    transition: .5s ease;
    color: black;
    text-decoration: none;
}
.toggle_check{
    display: none;
}
.toggle_check:checked ~ .toggle_menu :nth-child(1){
    transform: translate(-100%,150%);
    box-shadow: 0 0 20px rgba(0, 0,0,0.77);
}

.toggle_check:checked ~ .toggle_menu :nth-child(2){
    transform: translate(-100%,270%);
    box-shadow: 0 0 20px rgba(0, 0,0,0.77);
}
.toggle_check:checked ~ .toggle_menu :nth-child(3){
    transform: translate(-100%,390%);
    box-shadow: 0 0 20px rgba(0, 0,0,0.77);
}
.toggle_check:checked ~ .toggle_menu :nth-child(4){
    transform: translate(-100%,510%);
    box-shadow: 0 0 20px rgba(0, 0,0,0.77);
}


/* .dropdown_menu.show{
    transform: translateX(-100%);
    animation: slideLeft .5s ease .5s forwards;
}
.dropdown_menu.close{
    animation: slideRight .5s ease .5s forwards;
} */
/* @keyframes slideRight{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(-100%);
        display: none;
    }
    100%{
        transform: translateX(0);
    }
} */
